name: Ubuntu CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Get Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install podman

    - name: anaylse simd
      run: |
        podman pull ghcr.io/jimmarshall35/simd-detective:main
        podman run --rm --interactive --tty --volume ./core:/zzfx-core simd-detective:main
        cd /zzfx-core
        simd-detective -f ./src/*.c --list-operation --list-info --list-cpuid
        exit

    - name: Build
      run: |
        mkdir ./build
        cd build
        cmake ..
        make
        

